.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.element {
    padding: .5em;
    margin-block: .5em;
    margin-inline: .5em;
}

.leaf:hover {
    background-color: blue;
}